/*******
* RESET*
*******/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/********
* Common *
*********/

.container{
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
}

.btn{
    border: 0;
    padding: 0;
    background-color: inherit;
    color: white;
}

/*******
* HEAD *
*******/

.topbar{
    background-color: black;
    justify-content: flex-end;
    height: 77px;
}

.topbar-btn{
    color: white;
    background-color: #4a4a4a;
    height: 25px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

/*******
* MAIN *
*******/

main {
    background-color: black;
    height: calc(100vh - 168px);
    overflow-y: scroll;
}

main .callerbox{
    height: 145px;
    width: 240px;
    margin-bottom: 16px;
    margin-right: 6px;
    position: relative;
}

main .callroom{
    max-width: calc(1920/7);
    margin-left: 88px;
}

main .callerinfo{
    height: 27px;
    width: 97px;
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    font-size: 10px;
    padding-top: 9px;
    color: white;
    background-color:rgba(100, 94, 94, 0.6);
}

/********
* FOOTER *
*******/

footer {
    background-color: gold;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    padding-left: 10px;
    display: flex;
}

.footer-icon{
    font-size: 22px;    
}


.footer-left,
.footer-right{
    width: 20%;
}

.chevron{
    font-size: 10px;
}

.button-container{
   margin-right: 15px; 
}