/*******
* RESET*
*******/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/********
* Common *
*********/

.container{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/*******
* HEAD *
*******/

.topbar{
    background-color: black;
    justify-content: flex-end;
}

.topbar-btn{
    color: white;
    background-color: #4a4a4a;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

/*******
* MAIN *s
*******/

main {
    background-color: black;
}

main .callerbox{
    height: 145px;
    width: 240px;
    margin-bottom: 16px;
    margin-right: 6px;
    position: relative;
}

main .callroom{
    max-width: calc(1920/7);
    margin: 45px 88px;
}

main .callerinfo{
    height: 27px;
    width: 97px;
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    font-size: 10px;
    padding-top: 9px;
    color: white;
    background-color:rgba(100, 94, 94, 0.6);
}
